body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: url("https://files.oaiusercontent.com/file-LDcvatkNGxSDVbEuSiAOR5Wb?se=2024-01-21T18%3A48%3A39Z&sp=r&sv=2021-08-06&sr=b&rscc=max-age%3D31536000%2C%20immutable&rscd=attachment%3B%20filename%3Da57b3d3e-d08a-4d8e-9266-d7e1a535e0ff.webp&sig=RbjJGS9b4wN17lmk1C9sf2CXkjWdCmgA%2BiZDAixFdWw%3D");
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
}

.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    background: transparent;
}

.blue-text {
    color: #00BCD4;
    font-weight: bold;
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}
.form-control-label {
    /* Other existing styles */
    font-weight: bold; /* Makes the label text bold */
}

h3 {
    font-family: 'Apple Chancery', cursive;
    font-weight: bold;
}